body {
    background-color: black;
}

.container {
    width: 560px;
    height:430px;
    background-color: #80cdc6;
    margin: auto;
    position: relative;
}

.container div {
    position: absolute;
}
.world {
    width:560px;
    top:100px;
    z-index: 1;
}

.water {
    width: 560px;
    top: 384px;
    z-index: 4;
}

.clouds {
    width: 350px;
    left: 210px;
    z-index: 3;
}

.wooden-ship {
    width: 103px;
    top: 288px;
    left: 28px;
    z-index: 2;
}